.box {
    display: flex;
    width: 100%;
    height: 100%;
}
.left {
    width: 200px;
    border-right: 1px solid #e0e0e0;
}
.right {
    width: 0;
    flex: 1;
    flex-direction: column;

    display: flex;
}
.right-top {
    height: 100px;
    border-bottom: 1px solid #e0e0e0;
}
.right-main {
    height: 0;
    flex: 1;
    overflow-y: auto;
}
.menu-item {
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}